* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #1c92ff;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.sign-btn {
    padding: 10px 20px;
    background: #4f42ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 50px;
    background: linear-gradient(to right, #3b7df7, #51e7ff);
    color: #fff;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.left {
    width: 50%;
}

.left h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;
}

.left p {
    font-size: 16px;
    margin-bottom: 20px;
}

.buttons .btn {
    margin-right: 15px;
    padding: 12px 22px;
    background: #fff;
    color: #333;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}

/* Right Image */
.right img {
    width: 350px;
    border-radius: 25px;
}
